.footer{
    align-self: flex-end;
    margin-top: 20px;
    padding: 15px;
    width: 100vw;
    background-color: darken($color: $emphasis-color, $amount: 5);
    color: white;
    text-align: center;
    font-weight: 700;
    font-family: $font-stack;

    @media (hover: hover){
        &:hover{
            text-decoration: underline;
        }
    }

    i{
        margin-left: 5px;
    }
}
